@model MVCframework.Models.Employee

<h2>Employee Name:<b> @Model.EmpName</b></h2>
<hr />
<table cellpadding="5" cellspacing="5" border="2">
    <tr>
        <td>Employee Id: </td>
        <td>@Model.EmpId</td>
    </tr>
    <tr>
        <td>Employee Email: </td>
        <td>@Model.EmpEmail</td>
    </tr>
    <tr>
        <td>Employee Salary: </td>
        <td>$ @Model.EmpSalary</td>
    </tr>
</table>

